
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../image/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn {
    font-size: 1.5em;
    color: #fff !important;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    background: #ff0157 !important;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
}

.btn:hover {
    letter-spacing: 5px;
}



.contactus {
    margin-top: 0px;
    background: url(../image/contact.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputbox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    transition: .5s;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.footer {
    background: #ff0157;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: #fff;
    font-weight: 300;
}

.footer .icons a {
    color: #fff;
}

@media (max-width: 991px) {

    header,
    header .sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menutoggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menutoggle.active {
        background: url(https://i.postimg.cc/yNcK65Gc/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .sticky .menutoggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgbx {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 10px;
    }

    .menu .content .box .imgbx {
        height: 260px;
    }

    .titeText {
        font-size: 1.8em;
        text-align: center;
    }

    .expert .content {
        margin-top: 20px;
    }

    .testimonial .content .box {
        margin: 10px;
        padding: 30px;
    }

    .expert .content .box {
        margin: 20px;
    }

    .contactform {
        padding: 40px 30px;
    }

    .sticky {
        padding: 10px 30px;
    }
}


/********************* Shopping Demo-4 products css **********************/

/* .product-grid4,
.product-grid4 .product-image4 {
    position: relative
} */

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.product-grid4 {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid4 .product-image4 a {
    display: block
}

.product-grid4 .product-image4 img {
    width: 100%;
    height: auto
}

.product-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-1 {
    opacity: 0
}

.product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-2 {
    opacity: 1
}

.product-grid4 .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a
}

.product-grid4:hover .product-new-label {
    opacity: 0
}

.product-grid4 .product-content {
    padding: 25px
}

.product-grid4 .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-grid4 .title a {
    color: #222
}

.product-grid4 .title a:hover {
    color: #16a085
}

.product-grid4 .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}


.product-grid4 .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid4 .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.product-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
    .product-grid4 {
        margin-bottom: 30px
    }
}

.cardx {
    margin-top: 25px;
}