@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    
}

#username{
    font-size: 24px;
}

.fa-solid {
    height: 10px;
    width: 10px;
    font-size: 28px;
    color: black;
    margin-top: 7px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sticky .logo {
    color: #111;
}

.sticky .navigation li a {
    color: #111;
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 0rem;
}

header .logo {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    /* color: #fff; */
    color: #ff0157;
    font-weight: 200;
    font-size: 1.5em;
    transition: .5s;
}

header .navigation li a:hover {
    color: #ff0157;
    transition: .5s;
    box-shadow: 2px 2px 4px 4px rgba(255, 255, 255, 0.635);
}

section {
    padding: 80px;
}


@media (max-width: 991px) {

    header,
    header .sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menutoggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menutoggle.active {
        background: url(https://i.postimg.cc/yNcK65Gc/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .sticky .menutoggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

   
}